<div style="background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-light-blue-border-watercolor-background-bluewatercolorgradientromantichand-painted-image_86917.jpg');
     background-repeat: no-repeat; background-size: cover; background-position: center center;">

  <div class="view">
    <p style="text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">KIRLOSKAR
      BROTHERS LIMITED</p>
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row mt-5">
          <!--Grid column-->
          <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
            <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s"
              style="text-align: center; font-size: 3.5rem; margin-top: 70px;">SHUTTLE BOOKING SERVICE
            </h1>
            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
            <h5 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s">Create a travel booking system along with availability and cancellation
              features for Kirloskar Brothers Limited.</h5>
            <a class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s"></a>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mb-4" style="margin-left: 60px; margin-top: 50px">
            <!--Form-->
            <div class="card wow fadeInRight" data-wow-delay="0.3s">
              <div class="card-body">
                <!--Header-->
                <div class="text-center">
                  <h3 class="white-text">
                    <i class="fas fa-user white-text"></i> LOGIN </h3>
                  <hr class="hr-light">
                </div>
                <!--Body-->
                <div class="md-form">
                  <i class="fas fa-user prefix white-text active"></i>
                  <input type="text" id="username" name="username" [(ngModel)]="username"
                    class="white-text form-control">
                  <label for="form3" class="active">Username </label>
                </div>
                <div class="md-form">
                  <i class="fas fa-lock prefix white-text active"></i>
                  <input type="password" name="password" [(ngModel)]="password" class="white-text form-control">
                  <label for="form4">Password</label>
                </div>
                <div class="text-center mt-4">
                  <hr class="hr-light mb-3 mt-4">
                  <div class="inline-ul text-center">
                    <a class="p-2 m-2 tw-ic">
                      <i class="fab fa-twitter white-text"></i>
                    </a>
                    <button class="btn btn-outline-white" (click)="onLogin()"
                      style="color: black; font-size: larger;">Login</button>

                    <a class="p-2 m-2 li-ic">
                      <i class="fab fa-linkedin-in white-text"> </i>
                    </a>

                  </div>
                </div>
              </div>
            </div>
            <!--/.Form-->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
</div>