<div class="container " style="height: 10px; width: auto;">
    <div class="row-10" >
        <div class="col-12">
            <div style="scrollbar-highlight-color: grey; height: 20px;" >
                <p style="text-align: center; font-size: medium;">Kirloskar Brothers Limited</p>
                <h2 class="display" style="text-align: center; background-color:lightgrey; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"> HOME-PAGE</h2>
               
            </div>
            <div class="shuttle-image" style="margin-top: 100px;"></div>
            <!-- <img src ="./" alt="Picture of shuttle" style=" width:100; height:100; float:right;"/> -->
            <ul>
                <button class="btn btn-primary" style="color:black; background-color: white;text-align:center; font-size: 16px; align-self: 
                center;margin-top: 110px; margin-left: 100px;" (click)="onBooking()">BOOKING &nbsp;&nbsp;&nbsp;</button>
            </ul>
            <ul>
                <button class="btn btn-primary" style="color:black; background-color:white; text-align:center;
                 font-size: 16px;  align-self: center; margin-left: 100px;margin-top: 30px;" 
                 (click)="onAvail()">AVAILABILITY </button>
            </ul>
            <ul>
                <button class="btn btn-primary" style="color:black; background-color:white; 
                text-align:center; font-size: 16px;  align-self: center; margin-left: 100px;
                margin-top: 30px;" (click)="onCancel()">CANCELLATION</button>
            </ul>
            <ul>
                <button class="btn btn-primary" style="color:black; background-color:white; 
                text-align:center; font-size: 16px;  align-self: center; margin-left: 100px;
                margin-top: 30px;"(click)="onReport()">MONTHLY REPORT</button>
            </ul>
            <ul>
                <div style="margin-top: 50px;"></div>
            </ul> 
            <hr>           
        </div> 
    </div> 
</div>             


